Flask==2.3.2
boto3==1.28.0
gunicorn==21.2.0
python-dotenv==1.0.0
Werkzeug==2.3.6
requests==2.31.0
PyJWT==2.11.0
botocore==1.31.85
s3transfer==0.6.2
Jinja2==3.1.6
itsdangerous==2.1.2
click==8.1.8
blinker==1.6.2
MarkupSafe==2.1.1
python-dateutil==2.8.2
urllib3==1.26.20
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4

